.App {
  color: white;
  min-height: 100vh;
  background-color: rgb(10, 10, 10);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.front-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
}
.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
