.main-playback {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  h1 {
    margin: 0;
  }
}
p {
  margin: 0;
  white-space: pre;
}
.lyrics-wrapper {
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}

.lyrics {
  padding-left: 0.5rem;
  margin-top: 2rem;
  max-width: 95%;
  margin-right: 0.5rem;
  text-align: center;
  // position: relative;
  // position: absolute;
  z-index: 9999;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(13px);
  filter: blur(0px);
  max-height: 100%;
}
.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(5.5em) opacity(0.8);
  position: absolute;
}
.album-wrapper {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.album {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
  width: 214px;
  margin-top: 2rem;
  img {
    width: 214px;
    height: 214px;
  }
  &__text {
    display: inline-block;
    width: 214px;
    z-index: 999;
    text-align: left;
    top: 0; /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-wrap: break-word;
    h2 {
      font-size: 1rem;
      overflow-wrap: break-word;
    }
  }
}
